.container{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    max-height: 910px;
    margin-bottom: 15px;
}
.text{
    width: 860px;
    margin: 20px auto;
    margin-top: 0px;
}
.text p:not(:last-child){
    margin-bottom: 20px;
}

.imgWrap{
    width: 860px;
    margin: 0 auto;
    max-height: 500px;
    border-radius: 10px;
    overflow: hidden;
}
.image{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

@media(max-width:1360px){
    .text{
        width: 810px;
    }
    .imgWrap{
        width: 810px;
    }
}
@media(max-width:1229px){
    .text{
        width: 730px;
    }
    .imgWrap{
        width: 730px;
    }
}